supportedArchitectures.os[]=current
supportedArchitectures.cpu[]=current
supportedArchitectures.libc[]=current
supportedArchitectures.libc[]=glibc
shamefully-hoist=true
public-hoist-pattern[]=*@oxc-parser*
public-hoist-pattern[]=*@oxc-transform*
public-hoist-pattern[]=*@oxc-minify*
public-hoist-pattern[]=*sharp*
side-effects-cache=false
enable-pre-post-scripts=true
unsafe-perm=true
optional=true
